.example-container {
  height: 97vh;
  background: white;
}
.card{
background-color:white;
color: black;
font-weight: 600;
pointer-events: stroke;
border: solid 1px #103a7f;

}

.blue-color{
  color: #103a7f;
}

.button-color{
  background-color: #103a7f;
  font-family: Times New Roman;
}

.card-container{
  width: 270px;
  height: 130px;
  border: 1px  #103a7f;
}
.activeTab {
  background-color: #2980b9 !important;
  color: white;
  border: none;
  border-radius: 10px;
}

button {
  flex: 1;
  border-radius: 25px !important;
  background-color: whitesmoke;
  color: #2980b9;
}

button:hover {
  color: #2980b9;
}

.activeTab:hover {
  color: white;
}



.circle-wrap {
margin: 150px auto;
width: 150px;
height: 150px;
background: #fefcff;
border-radius: 50%;
border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
width: 115px;
height: 115px;
position: absolute;
border-radius: 50%;
}

.circle-wrap .circle .mask {
clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
width: 88px;
height: 88px;
border-radius: 50%;
background: #d2eaf1;
line-height: 120px;
text-align: center;
margin-top: 14px;
margin-left: 14px;
color: #1e51dc;
position: absolute;
z-index: 100;
font-weight: 700;
font-size: 2em;
}


.mask .fill {
clip: rect(0px, 75px, 150px, 0px);
background-color: #227ded;
}

.mask.full,
.circle .fill {
animation: fill ease-in-out 3s;
transform: rotate(135deg);
}


/* h2 {padding: 1rem;} */

.ellipsis-icon {
font-size: 20px;
margin-top: 0;
}

.info-card{
  font-family: Times New Roman;
/* flex-wrap: nowrap !important; */
>div{
  min-width: 300px !important;
  padding-block: 10px;    
  /* flex-grow: 1; */
  .card-body{
    padding-block: 10px !important;
  }
}
}


@media(width < 1400px){
.info-card > div{
  flex-grow: 1;

}
}




@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
.button-color{
    background-color: #103a7f;
  }

 

.bottom-bar {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20em;
    max-width: 30em;
    border-radius: 20px 20px 0 0;
  }
  
  .icon {
    font-size: 1.5em;
    padding: .5em;
    margin: .5em;
    margin-top: 0;
    transition: background-color 0.3s ease-in-out;
    border-radius: 100%;
    border: 7px solid white;
    color: #2980b9;
  }
  
  .active {
    background: linear-gradient(135deg, #103a7f, #103a7f);
    /* border: 7px solid #103a7f; */
    color: white;
  }
  

  

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}




.bottom-tab-bar {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab-item {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab-item:hover {
  background-color: #103a7f;
  color: #fff;
  border-color: #103a7f;
}

.tab-item.active {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}
