<div class="main-container centralized">
    <div class="main-circle">
      <div class="inner centralized">
        Consolidated<br>Data
      </div>
    </div>
    <div class="bubble-container centralized blue-dark">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source I
        </div>
      </div>
    </div>
    <div class="bubble-container centralized green">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source II
        </div>
      </div>
    </div>
    <div class="bubble-container centralized orange">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source III
        </div>
      </div>
    </div>
    <div class="bubble-container centralized red">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source IV
        </div>
      </div>
    </div>
    <div class="bubble-container centralized black">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source V
        </div>
      </div>
    </div>
    <div class="bubble-container centralized blue-light">
      <div class="pointer centralized">
        <div class="arrow"></div>
        <div class="inner">
        </div>
      </div>
      <div class="bubble centralized">
        <div class="inner centralized">
          Source VI
        </div>
      </div>
    </div>
  </div>