<section class="popup-container">
    <div class="col-12 my-2">
      <h2 class="fw-normal" style="display: inline; color: #103a7f;font-style: poppins;">Who has been assigned</h2>
      <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   <div *ngIf="!isLoading">
    <div class="container py-3" style="position: relative;">
        <div class="row table-row row-head gx-0">
          <div class="col">Name</div>
          <div class="col">Email ID</div>
          <div class="col">Contact number</div>
        </div>
        <div class="tableContainer" *ngIf="whohasassigned?.length > 0">
          <div class="row gx-0 table-row row-body px-0" *ngFor="let item of whohasassigned">
            <div class="col">{{ item?.name }}</div>
            <div class="col">{{ item?.email }}</div>
            <div class="col">{{ item?.contactNumber}}</div>
          </div>
        </div>
        <div class="text-center unavailability" *ngIf="whohasassigned?.length <= 0">
          No data available
        </div>
      </div>
  
   </div>
    <div class="text-center my-5">
        <i *ngIf="isLoading"  class="fa fa-spinner fa-spin" style="font-size:64px;color: #103a7f;"></i>
      </div>
  </section>
  