

<div class="container">
 
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold" style="color: #103a7f;">All Subphases</h3>
      </div>
      <div class="col d-flex justify-content-end align-items-center mb-2">
          <div>
              <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="openPopup()">Create
                  Subphase</button>
          </div>
      </div>
      <section class="mt-3"  style="height: 100vh;">
        <div class="row table-row row-head gx-0">
          <div class="col ">Subphase name</div>
          <div class="col ">Subphase description</div>
          <div class="col ">Created date</div>
          <div class="col ">Created by</div>
          <!-- <div class="col ">Status</div> -->
          <div class="col ">Action</div>
        </div>
        <div class="tableCointainer">
          <div
            class="row gx-0 table-row row-body px-0 "
            *ngFor="let item of subphaseList" 
         
          >
          <div class="col">{{item.subPhaseName | titlecase}}</div>
            <div class="col">
              <div class="material">
                <div class="col"> {{item.description | titlecase}}</div>
              </div>
            </div>
            <div class="col">{{item.createdDate | date}}</div>
            <div class="col">Created By</div>
             <!-- <div class="col d-flex flex-column align-items-center" style="font-family: poppins; overflow: hidden;">
              <span *ngIf="item.status=='Active'" class="badge badge-success rounded-pill d-inline">{{item.status | titlecase}}</span>
              <span *ngIf="item.status==='Inactive'" class="badge badge-danger rounded-pill d-inline">{{item.status | titlecase}}</span>
            </div> -->
          <div class="col">     <button mat-icon-button [matMenuTriggerFor]="menu" class="ellipsis-button">
            <mat-icon class="ellipsis-icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
            <button mat-menu-item (click)="editSubphase(item.id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteSubphase(item.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu></div>
        </div>
        </div>
      </section>
      </div>
   
</div>