.bthnHover:hover {
    background-color: gray;
    border-radius: 50px;

}

.button-colors{
  background-color: #103a7f;color: white !important;
}

.disabled-button {
  background-color: #325c96 !important;
  color: #ffffff !important;
  cursor: not-allowed;
  opacity: 0.6;
}

.bthnHover {
    height: 25px;
    width: 25px;
    background-color: gainsboro;
    border-radius: 50px;
}

/* Adjust column width for options */
.survey-container .card-body .row .col-md-4 {
    width: 16%;
}
.mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .selected {
    font-weight: bold;
    color: rgb(204, 204, 218); /* Example: Change this to your desired style */
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
/* .button-color{
    background-color: #103a7f;
} */

.form-control:focus{
    outline: none!important;
    box-shadow: none!important;
}

.survey-container{
    height: 64vh;
    overflow-y: scroll;
}

.survey-container::-webkit-scrollbar{
    width: 0;
}
/* ::ng-deep .mat-horizontal-stepper-header {
    background-color: blue !important;
  } */
  
  ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    color: white !important;
  }
  
  ::ng-deep .mat-horizontal-stepper-header .mat-step-label {
    color: #103a7f !important;
  }
  
  ::ng-deep .mat-horizontal-stepper-header-container {
 color: blue !important;
  }
  
  button.mat-button.matStepperPrevious,
  button.mat-button.matStepperNext {
    background-color: blue !important;
    color: white !important;
  }
  
  button.mat-button.matStepperPrevious:hover,
  button.mat-button.matStepperNext:hover {
    background-color: darkblue !important;
  }
  .rating li {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .rating li.selected {
    color: gold;
  }