<!-- <div class="row"> -->
<div class="col-md-12 mt-2">
    <h3 style="display: inline; color: #103a7f; font-weight: 700;">Create employee experience phase</h3>
    <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- <div class="container"> -->
<div class="col-md-12">
    <form [formGroup]="createTouchpointForm">
        <div class="mt-4">
            <label for="" class="label-control">Employee experience phase name</label>
            <input type="text" class="form-control w-100" placeholder="Enter employee experience phase name"
                formControlName="subPhaseName">
            <p *ngIf="createTouchpointForm.get('subPhaseName')?.touched && createTouchpointForm.get('subPhaseName')?.hasError('required')"
                class="text-danger ms-3">
                Touchpoint phase name is required
            </p>
        </div>

        <div class="mt-4 row text-center justify-content-center">
            <div class="col-md-7">
                <button class="p-2 rounded btn-outline button-color border-0 w-100 mx-auto" [disabled]="isNavigated" (click)="next(1)">
                    <span *ngIf="isNavigated" class="spinner-border spinner-border-sm"
                    role="status" aria-hidden="true"></span> Add EX Phase
                </button>
              </div>
        </div>
    </form>
</div>
<!-- </div> -->
<!-- </div> -->