.activeTab {
    background-color: #103a7f !important;
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  button {
    flex: 1;
    border-radius: 10px !important;
    background-color: rgb(243, 236, 236);
    color: black;
  }
  
  button:hover {
    color: black;
  }
  
  .activeTab:hover {
    color: white;
  }
  

  