<div class="container py-3" >
    <!-- <div class="nav nav-tabs d-flex border-0" id="nav-tab" style="gap: 2em">
      <button
        class="w-100 nav-item nav-link"
        routerLink="./interview"
        routerLinkActive="activeTab"
      >
       Interview
      </button>
      <button
        class="w-100 nav-item nav-link"
        routerLink="./focusgroup"
        routerLinkActive="activeTab"
      >
        Focus Group
      </button>
    </div>
   -->
    <router-outlet></router-outlet>
  </div>
  