.blue-color {
  color: #103a7f;
}

.background-color {
  background-color: #103a7f;
  /* color: white; */
}


.activeTab {
  background: whitesmoke;
  border-radius: 5px;
  margin: -1px;
  border: solid 1px #103a7f;
}


.icon-sky-color {
  color: #069de0;
}

.selected-date {
  background-color: lightblue;
}

.card {
  border: solid 1px #103a7f;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.card-container {
  width: 270px;
  height: 130px;
}

#tasksection {
  margin-inline: 20px;
  background-color: #f6f6f6;
  padding-top: 1.5rem;
  padding: 1.5rem;
  /* height: 100vh; */
}

#tasksection2 {
  /* margin-inline: 20px; */
  padding-top: 1.5rem;
  /* padding: 1.5rem; */
  /* height: 100vh; */
}

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 115px;
  height: 115px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.timeline .timeline-date {
  width: 42px;
  height: 52px;
  display: inline-block;
  /* padding: 8px; */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  z-index: 0
}


.circle-wrap .inside-circle {
  width: 108px;
  height: 108px;
  border-radius: 100%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  /* z-index: 100; */
  font-weight: 700;
  font-size: 2em;
}


.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

::placeholder {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 15px;
  font-size: 13px;
  font-weight: 200;

  color: #ccc;
  text-align: left;
}

select::placeholder {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 15px;
  font-size: 13px;
  font-weight: 200;

  color: #ccc;
  text-align: left;
}

.meeting-tittle {
  position: relative;
  font-size: 15px;
  font-weight: 300;

  color: #1b1b1b;
  text-align: left;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: no-repeat;
  background-position: center;
  height: 25px;
  padding-left: 4px;
}

.activetab {
  background-color: #2980b9 !important;
  color: white;
  border: none;
  border-radius: 10px;
}


.buttons2 {
  flex: 1;
  border-radius: 25px !important;
  max-width: 200px;
  background-color: whitesmoke;
}


.col {
  line-height: 22.5px;

}

.table-row {
  background-color: #ffffff;
  /* border-radius: 10px; */
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  height: auto;

  font-weight: 400;
  font-size: 14px;
  border: solid .3px rgb(148, 148, 148);
}

.table-row:hover {
  border: 2px solid #103a7f;
}

.tableCointainer .table-row:hover {
  border: 2px solid #103a7f;
}

.row-head {
  height: 54px;
  font-weight: 500;

  font-size: 16px;
  background-color: #103a7f;
}

.row-body {
  font-weight: 400;
  height: auto;

  text-align: center;
}

.row-head .col {
  text-align: center;
}

.material {
  display: inline-block;
  text-align: center;
}




button {
  border: none;
}




.tableCointainer {
  height: 43vh;
  overflow-y: scroll !important;
}


.tableCointainer::-webkit-scrollbar {
  width: 7px;
}

.tableCointainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.tableCointainer::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.tableCointainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.boldColmn {
  font-weight: 400;
  position: relative;
  inset-inline: -1em;
}

.no-style-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

tbody:nth-child(2) {
  max-width: 4px;
}

.disableDownloadIcon {
  opacity: 0.4;
}

.disableDownloadButton:hover {
  cursor: not-allowed;
}

.dropdownToggleButton {
  height: 57px;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.highlighted-date {
  background-color: #ffcc80;
  /* Example color for highlighted dates */
}


.overflow-auto {
  overflow-y: auto;
}

.cards-body {
  padding: 0.5rem;
}

.reminder-list {
  height: 215px;
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px;
}

.reminder-list::-webkit-scrollbar {
  width: 5px;
}

.reminder-list-listintainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.reminder-list::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.reminder-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


/* .reminder-list::-webkit-scrollbar {
  width: 0;
}

.reminder-list {
  scrollbar-width: none;
}

.reminder-list::-webkit-scrollbar {
  display: none;
} */

::ng-deep.highlightDate {
  background: #103a7f !important;
  border-radius: 100px;
}

.unavailability {
  font-size: 16px !important;
  position: absolute;
  top:20vh;
  width: 100%;
}
