.example-container {
    height: 97vh;
    background: white;
  }
  
  .card {
    background-color: white;
    color: black;
    font-weight: 600;
    pointer-events: stroke;
    border: solid 1px #103a7f;
  
  }
  
  .blue-color {
    color: #103a7f;
  }
  
  .button-enabled {
    background-color: #103a7f;
    color: white;
    opacity: 1;
  }
  
  .button-disabled {
    opacity: 0.5 !important;
  }
  
  .button-enabled:hover,
  .button-enabled:hover {
    cursor: pointer
  }
  
  button {
    flex: 1;
    background-color: whitesmoke;
    color: #2980b9;
  }
  
  button:hover {
    color: #2980b9;
  }
  
  .activeTab:hover {
    color: white;
  }
  
  
  
  .circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 115px;
    height: 115px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(135deg);
    }
  }
  
  .ellipsis-icon {
    font-size: 20px;
    margin-top: 0;
  }
  
  .info-card {
  
    /* flex-wrap: nowrap !important; */
    >div {
      min-width: 440px !important;
      padding-block: 10px;
  
      /* flex-grow: 1; */
      .card:hover {
        cursor: pointer;
      }
  
      .card-body {
        padding-block: 10px !important;
      }
    }
  }
  
  
  @media(width < 1400px) {
    .info-card>div {
      flex-grow: 1;
  
    }
  }
  
  
  .col {
    line-height: 22.5px;
  
  }
  
  .table-row {
    background-color: #ffffff;
    /* border-radius: 10px; */
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    height: auto;
  
  
    font-weight: 400;
    font-size: 14px;
    border: solid .3px rgb(148, 148, 148);
  }
  
  .table-row:hover {
    border: 2px solid #103a7f;
  }
  
  .tableCointainer .table-row:hover {
    border: 2px solid #103a7f;
  }
  
  .row-head {
    height: 54px;
    font-weight: 500;
  
    font-size: 16px;
    background-color: #103a7f;
  }
  
  .row-body {
    font-weight: 400;
    height: auto;
  
    text-align: center;
  
  }
  
  .row-head .col {
    text-align: center;
  }
  
  .material {
    display: inline-block;
    text-align: center;
  }
  
  
  
  
  button {
    border: none;
  }
  
  
  
  
  .tableCointainer {
    height: 56vh;
    overflow-y: scroll !important;
  }
  
  
  .tableCointainer::-webkit-scrollbar {
    width: 0;
  }
  
  
  
  .boldColmn {
    font-weight: 400;
    position: relative;
    inset-inline: -1em;
  }
  
  .no-style-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  tbody:nth-child(2) {
    max-width: 4px;
  }
  
  .disableDownloadIcon {
    opacity: 0.4;
  }
  
  .disableDownloadButton:hover {
    cursor: not-allowed;
  }
  
  .dropdownToggleButton {
    height: 57px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  .activeTab {
    background: whitesmoke;
    color: black !important;
  }
  
  .unavailability {
    font-size: 16px !important;
    position: absolute;
    top: 20vh;
    width: 100%;
  }