  <div class="container my-2">
    <div class="row ">
      <div class="col-lg col-md col-sm-12">
        <div class="d-flex align-items-center justify-content-between">
          <h3 style="margin: 0;color: #103a7f;font-weight: bolder; ">Brand dashboard</h3>
        </div></div>
    </div>
    <div class="row justify-content-center info-card">
        <div class="col-2 flex-grow-1" (click)="getClientsByStatus('all')">
          <div class="card" [ngClass]="{activeStatus:status=='all'}">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title  fs-6 text-uppercase fw-normal mb-2">All</h5>
                  <h5 class="card-title fs-6 fw-normal">{{allCount}}</h5>
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="100" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-2 flex-grow-1" (click)="getClientsByStatus('new')">
          <div class="card" [ngClass]="{activeStatus:status=='new'}">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title  fs-6 text-uppercase fw-normal mb-2">New</h5>
                  <h5 class="card-title fs-6 fw-normal">{{newCount}}</h5>
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="relativePercentage(newCount)" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
  
       
  
        <!-- <div class="col-2 flex-grow-1" (click)="getClientsByStatus('pending')">
          <div class="card" [ngClass]="{activeStatus:status=='pending'}">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title fs-6 text-uppercase fw-normal  mb-2">Pending</h5>
                  <h5 class="card-title fs-6 fw-normal">{{pendingCount}}</h5>
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="relativePercentage(pendingCount)" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
 
  

  <div class="container">
    <div class="nav nav-tabs  border-0" id="nav-tab" style="gap: 2em">
      <button
        class="w-15 col-3 nav-item nav-link"
        [routerLink]="['./recent', status]"
        routerLinkActive="activeTab"
        (click)="activatedTab = 'recent'"
      >
     Recent
      </button>
      <button
        class="w-15 col-3 nav-item nav-link"
        routerLink="./pinned"
        routerLinkActive="activeTab"
        (click)="activatedTab = 'pinned'"
      >
      Pinned
      </button>
    </div>
  
    <router-outlet></router-outlet>
  </div>
  

