.example-container {
  height: 97vh;
  background: white;
}
.card {
  background-color: white;
  color: black;
  font-weight: 600;
  pointer-events: stroke;
  border: solid 1px #103a7f;
}

.blue-color {
  color: #103a7f;
}

.button-color {
  background-color: #103a7f;
}

.card-container {
  width: 270px;
  height: 130px;
  border: 1px #103a7f;
}
.activeTab {
  background-color: #2980b9 !important;
  color: white;
  border: none;
  border-radius: 10px;
}

button {
  flex: 1;
  border-radius: 25px !important;
  background-color: whitesmoke;
  color: #2980b9;
}

button:hover {
  color: #2980b9;
}

.activeTab:hover {
  color: white;
}

.activeStatus {
  background: whitesmoke;
}

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 115px;
  height: 115px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.ellipsis-icon {
  font-size: 20px;
  margin-top: 0;
}

.info-card{

  /* flex-wrap: nowrap !important; */
  >div{
    min-width: 260px !important;
    padding-block: 10px;    
    /* flex-grow: 1; */
    .card-body{
      padding-block: 10px !important;
    }
  }
}
@media (width < 1400px) {
  .info-card > div {
    flex-grow: 1;
  }
}
