
.col {
  line-height: 22.5px;

}

.dropdown-list ul {
  background-color: white !important;
  }

  ::ng-deep .multiselect-dropdown .dropdown-list ul {
    background-color: white !important;
  }

.survey-dropdown {
  background-color: white !important; 
  color: #000; 
  border: 1px solid #ccc; /* Border for dropdown */
  z-index: 1000; /* Or any higher value */
  position: relative;
}

/* Safari specific fix */
@media not all and (min-resolution:.001dpcm) { 
@supports (-webkit-appearance:none) {
  .survey-dropdown {
    background-color: white !important; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1000 !important; 
    position: relative;
    background-color: white;
  }
}
}


.table-row {
  background-color: #ffffff;
  /* border-radius: 10px; */
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  height: auto;

  font-weight: 400;
  font-size: 14px;
  border: solid .3px rgb(148, 148, 148);
}
.table-row:hover{
  border: 2px solid #103a7f;
}
.tableCointainer .table-row:hover{
  border: 2px solid #103a7f;
}
.row-head {
  height: 54px;
  font-weight: 500;

  font-size: 16px;
  background-color: #103a7f;
}

.row-body {
  font-weight: 400;
  height: auto;

  text-align: center;
}

.row-head .col {
  text-align: center;
}

.material {
  display: inline-block;
  text-align: center;
}


button {
  border: none;
}



/* .button-container {
    position: absolute;
    bottom: 40px;
    right: 40px; 
  } */
  .bthnHover:hover{
    background-color: gray;
    border-radius: 50px;
    
      }
      .bthnHover{
        height: 25px;
    width:25px;
    background-color: gainsboro;
    border-radius: 50px;
      }
    
    


.boldColmn {
  font-weight: 400;
  position: relative;
  inset-inline: -1em;
}

.no-style-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

tbody:nth-child(2) {
  max-width: 4px;
}

.disableDownloadIcon {
  opacity: 0.4;
}

.disableDownloadButton:hover {
  cursor: not-allowed;
}

.dropdownToggleButton {
  height: 57px;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 4rem; 
}

.button-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
