.info-card {
    /* flex-wrap: nowrap !important; */
    > div {
      min-width: 260px !important;
      padding-block: 10px;
      /* flex-grow: 1; */
      .card-body {
        padding-block: 10px !important;
      }
    }
  }
  @media (width < 1400px) {
    .info-card > div {
      flex-grow: 1;
    }
  }
  
  .bg-info1 {
    background-color: #103a7f;
  }
  
  .card-container {
    width: 270px;
    height: 130px;
    border: 1px #103a7f;
  }

  .activeTab {
    background-color: whitesmoke !important;
    color: black;
    border: none;
    border-radius: 10px;
  }
  
  .buttons {
    flex: 1;
    border-radius: 25px !important;
    background-color: whitesmoke;
    color: #2980b9;
  }

  .activetab {
    background-color: #2980b9 !important;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .activetab:hover {
    color: white;
  }
  
  button:hover {
    color: #2980b9;
  }
  
  .activeab:hover {
    color: black;
  }
  
  .activeStatus {
    background: whitesmoke;
  }

  .complete-button{
    color: #103a7f;
  }

  .complete-button:hover{
    background-color: #103a7f;
    color: white;
  }
  
  .circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .card {
    background-color: white;
    color: black;
    font-weight: 600;
    pointer-events: stroke;
    border: solid 1px #103a7f;
  }
  .blue-color {
    color: #103a7f;
  }
  
  .button-color {
    background-color: #103a7f;
  }
  .col {
    line-height: 22.5px;
  }
  
  .table-row {
    background-color: #ffffff;
    /* border-radius: 10px; */
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    height: auto;
  
    font-weight: 400;
    font-size: 14px;
    border: solid 0.3px rgb(148, 148, 148);
  }
  .table-row:hover {
    border: 2px solid #103a7f;
  }
  .tableCointainer .table-row:hover {
    border: 2px solid #103a7f;
  }
  .row-head {
    height: 54px;
    font-weight: 500;
  
    font-size: 16px;
    background-color: #103a7f;
  }
  
  .row-body {
    font-weight: 400;
    height: auto;
  
    text-align: center;
  }
  
  .row-head .col {
    text-align: center;
  }
  
  .material {
    display: inline-block;
    text-align: center;
  }
  
  button {
    border: none;
  }
  .cardheight {
    height: 500px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
  }
  
  .boldColmn {
    font-weight: 400;
    position: relative;
    inset-inline: -1em;
  }
  .button1 {
    flex: 1;
    border-radius: 50px !important;
    /* background-color: #E5E4E2; */
    background-color: white;
    color: black;
    padding: 23px;
    font-size: medium;
    font-weight: bold;
  }
  
  button:hover {
    color: black;
  }
  
  /* .activeTab:hover {
    color: white;
  } */
  /* .activeTab {
    background-color: whitesmoke !important;
    color: #103a7f;
  
    border: none;
    border-radius: 10px;
  } */
  
  /* timelineCSS */
 /* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #103a7f;
  border: 5px solid #2980b9;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
  
  .card-container-blue {
    background-color: #103a7f;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 250px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.card-content-blue {
    max-height: 100%;
    overflow-y: auto;
}

.card-content-blue::-webkit-scrollbar {
    width: 6px;
}

.card-content-blue::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
::-webkit-scrollbar {
  width: 3px;
}
  
  body {
    margin: 0;
    font-family: Montserrat;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .roadmap-container {
    width: 100%;
    max-width: 1200px;
    padding: 50px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: darkslategrey;
    text-transform: uppercase;
  }
  
  .roadmap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .roadmap::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    background: linear-gradient(155deg, #eb5c2b, #da6d48);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: 5px;
  }
  
  .step-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    position: relative;
    z-index: 1;
  }
  
  .step-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  .step {
    background: linear-gradient(135deg, #0088ef, #00aaf4);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 50%;
    position: relative;
  }
  
  .step-launch {
    background: linear-gradient(135deg, #eb5c2b, #da6d48);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 45%;
    position: relative;
  }
  
  .step-number {
    font-size: 1.5em;
    font-weight: lighter;
    color: #0088ef;
    margin-right: 20px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 4px solid #da6d48;
    border-radius: 100%;
    background-color: white;
  }
  
  .step-number-10 {
    font-size: 1.5em;
    font-weight: bold;
    color: #da6d48;
    margin-right: 20px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 4px solid white;
    border-radius: 100%;
    background-color: white;
  }
  
  .step:nth-child(odd) .step-number {
    margin-left: 20px;
    margin-right: 0;
  }
  
  .step:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 20px;
  }
  
  .icon {
    width: 100%;
    height: 100%;
  }
  
  .content h2 {
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  .content p {
    margin: 5px 0 0;
  }
  
  @media (max-width: 600px) {
    .step-container {
        flex-direction: column;
        align-items: center;
    }
  
    .step-container:nth-child(odd) {
        flex-direction: column;
    }
  
    .step {
        width: 80%;
        margin-bottom: 10px;
    }
  
    .icon-container {
        margin: 0 0 10px;
    }
  }
  
  .custom-toggle {
    width: 36px; 
    height: 18px; 
  }
  
  .custom-toggle::before {
    width: 23px; 
    height: 23px;
  }
  


  
::placeholder {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 15px;
  font-size: 13px;
  font-weight: 200;
  
  color: #ccc;
  text-align: left;
}
select::placeholder {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 15px;
  font-size: 13px;
  font-weight: 200;
  
  color: #ccc;
  text-align: left;
}

.meeting-tittle {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  
  color: #1b1b1b;
  text-align: left;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: no-repeat;
  background-position: center;
  height: 25px;
  padding-left: 4px;
}


  
.col {
  line-height: 22.5px;

}



button {
  border: none;
}




.tableCointainer {
  height: 43vh;
  overflow-y: scroll !important;
}


.tableCointainer::-webkit-scrollbar {
  width: 0;
}

.boldColmn {
  font-weight: 400;
  position: relative;
  inset-inline: -1em;
}

.no-style-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

tbody:nth-child(2) {
  max-width: 4px;
}

.disableDownloadIcon {
  opacity: 0.4;
}

.disableDownloadButton:hover {
  cursor: not-allowed;
}

.dropdownToggleButton {
  height: 57px;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.highlighted-date {
  background-color: #ffcc80;
}


.overflow-auto {
  overflow-y: auto;
}

.cards-body {
  padding: 0.5rem;
}

.reminder-list {
  height: 300px;
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px; 
}

.reminder-list::-webkit-scrollbar {
  width: 0; 
}

.reminder-list {
  scrollbar-width: none;
}

.reminder-list::-webkit-scrollbar {
  display: none; 
}

::ng-deep.highlightDate{
  background:#103a7f !important;
  border-radius: 100px ;
}
.card {
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn.background-color {
  background-color: #103a7f;
  color: white;
}

.btn.background-color:hover {
  background-color: #19488f;
}

.timeline-date {
  padding: 2px;
  color: white;
}



.fixed-card {
  width: 100%;
  max-width: 300px;
  height: 170px;
}

.fixed-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fixed-card .card-title,
.fixed-card .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chart {
  max-width: 100%;
  /* margin: 35px auto; */
}