<!-- faq.component.html -->
<div class="container my-2">
    <div class="row mt-3">
      <div class="col-lg col-md col-sm-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let faq of filteredFaqs">
            <h2 class="accordion-header" id="heading{{faq.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + faq.id" aria-expanded="true" [attr.aria-controls]="'collapse' + faq.id">
                {{ faq.question }}
              </button>
            </h2>
            <div [id]="'collapse' + faq.id" class="accordion-collapse collapse show" 
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ faq.answer }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  