
  <div class="section">
   
   
       <div class="row mx-3">
        <div class="col-12 my-2">
          <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
       </div>
       <div class="row mx-3">
        <div class=" col-md col-sm">
          <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0;color: #103a7f;font-weight: bolder;">Assign Survey</h3>
          </div>
      </div>
      </div>
      <div class="row mx-3 my-3">
        <div class="col-md col-sm">
          <select class="form-select form-select-sm mb-3 p-3" aria-label=".form-select-sm example" (change)="surveyId($event)">
            <option selected>Select Survey</option>
            <option value="" *ngFor="let item of surveyList" [value]="item.id">{{item.survey_name}}</option>
         
          </select>
        </div>
       </div>
       <div class="row mx-3">
        <div class="col-md col-sm text-center">
          <button class="btn  w-50" style="margin-top: 3em;background-color: #103a7f;color: white;">Assign</button>
          </div>
       </div>
</div>
          <!-- <div class="card text-center mt-5 py-3 border-0">
            <div class="card-header">
        Assign Survey 
            </div>
            <div class="card-body">
              
            </div>
            <div class="card-footer text-muted">
                <button type="button" class="border-0 btn btn-light" style="background-color: #2980b9;color: white;" (click)="assignSurvey()">Assign</button>
            </div>
          </div> -->
          <!-- <div class="button-container text-right">
            <button class="btn p-4 py-1 blue-color text-white fs-2 w-100" style="margin-top: 3em;">Create User</button>
          </div>
         -->
  
