.bthnHover:hover {
    background-color: gray;
    border-radius: 50px;
  
  }
  
  .bthnHover {
    height: 25px;
    width: 25px;
    background-color: gainsboro;
    border-radius: 50px;
  }
  
  .blue-color {
    color: #103a7f;
  }
  
  
  .col {
    line-height: 22.5px;
  }
  
  .table-row {
    background-color: #ffffff;
    /* border-radius: 10px; */
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    height: auto;
  
    font-weight: 400;
    font-size: 14px;
    border: solid 0.3px rgb(148, 148, 148);
  }
  
  .table-row:hover {
    border: 2px solid #103a7f;
  }
  
  .tableCointainer .table-row:hover {
    border: 2px solid #103a7f;
  }
  
  .row-head {
    height: 54px;
    font-weight: 500;
  
    font-size: 16px;
    background-color: #103a7f;
  }
  
  .row-body {
    font-weight: 400;
    height: auto;
  
    /* text-align: center; */
  }
  
  /* .row-head .col {
    text-align: center;
  } */
  
  .material {
    display: inline-block;
    text-align: center;
  }
  
  button {
    border: none;
  }
  
  .boldColmn {
    font-weight: 400;
    position: relative;
    inset-inline: -1em;
  }
  
  .no-style-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  tbody:nth-child(2) {
    max-width: 4px;
  }
  
  .disableDownloadIcon {
    opacity: 0.4;
  }
  
  .disableDownloadButton:hover {
    cursor: not-allowed;
  }
  
  .dropdownToggleButton {
    height: 57px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  .blue-color {
    color: #103a7f;
  }
  
  .button-color {
    background-color: #103a7f;
  }
  
  .unavailability {
    font-size: 16px !important;
    position: absolute;
    top: 30vh;
    width: 100%;
  }
  
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  
  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  
  
  .section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .content-wrapper {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 4rem; 
  }
  
  .top-container{
    position: sticky;
    top: 0;
    background-color: white;
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
  }
  
  .button-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 5px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .options-container {
    display: flex;
    align-items: center;
  }
  
  .option-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .option-list li {
    margin-right: 10px; 
  }
  
  .big-checkbox {
    width: 12px;
    height: 12px;
    transform: scale(1.5);
  }
  
  
  table {
    border-spacing: 0;
  }
  table thead tr,
  table thead tr th{
      background: #103a7f;
      border: 1px ;
      background-clip: content-box;
     
  }
  
  table thead tr th{
      border: none;
      background-clip: content-box;
   
  }
  
  table tbody tr td {
    vertical-align: middle;
    pointer-events: stroke;
  }