<div class="container my-2">
  <div class="row mt-2 px-5">
    <div class="col-lg col-md col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin: 0; color: #103a7f; font-weight: bolder">
          Project dashboard
        </h3>
        <span class="blue-color font-weight-bold" style="font-weight: 700">
          Project name : {{ displayClientData?.clientName }}</span
        >
        <span class="blue-color font-weight-bold ms-4" style="font-weight: 700">
          EXwise consultant : {{ displayClientData?.consultantName }}</span
        >
      </div>
    </div>
  </div>

  <div class="row justify-content-center info-card">
    <div class="col-2 flex-grow-1" (click)="listen('Listen')">
      <div class="card" [ngClass]="{ activeTab: activeTab === 'Listen' }">
        <div class="card-body">
          <div class="row">
            <div class="col align-self-center">
              <h5 class="card-title fs-6 text-uppercase fw-normal mb-2">
                Listen
              </h5>
            </div>
            <div class="col-auto">
              <div class="align-self-center">
                <img src="assets\ear-circular.jpeg" alt="" height="90" width="90">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 flex-grow-1">
      <div
        class="card"
        (click)="Analyse('Analyse')"
        [ngClass]="{ activeTab: activeTab === 'Analyse' }"
      >
        <div class="card-body">
          <div class="row">
            <div class="col align-self-center">
              <h5 class="card-title fs-6 text-uppercase fw-normal mb-2">
                Analyse
              </h5>
            </div>
            <div class="col-auto">
              <div class="align-self-center me-3">
                <img src="assets\analysing.png" alt="" height="90" width="80">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 flex-grow-1">
      <div
        class="card"
        (click)="Share('Share')"
        [ngClass]="{ activeTab: activeTab === 'Share' }"
      >
        <div class="card-body">
          <div class="row">
            <div class="col align-self-center">
              <h5 class="card-title fs-6 text-uppercase fw-normal mb-2">
                Share
              </h5>
            </div>
            <div class="col-auto">
              <div class="align-self-center me-2">
                <img src="assets\share.png" alt="" height="90" width="90">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 flex-grow-1">
      <div
        class="card"
        (click)="cocreate('create')"
        [ngClass]="{ activeTab: activeTab === 'create' }"
      >
        <div class="card-body">
          <div class="row">
            <div class="col align-self-center">
              <h5 class="card-title fs-6 text-uppercase fw-normal mb-2">
                Co-create
              </h5>
            </div>
            <div class="col-auto">
              <div class="align-self-center me-3">
                <img src="assets\co-creation-workshop-workshop.png" alt="" height="90" width="80">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3" *ngIf="viewMore">
    <div class="row mt-3" *ngIf="!isLoading">
      <div class="col-lg-6 align-items-center">
        <div
          class="card shadow-sm cardheight"
          style="border: 2px solid gainsboro"
        >
          <section class="py-5">
            <ul class="timeline-1 text-black" *ngIf="data?.length > 0">
              <li
                class="event"
                *ngFor="let data of listendata"
                [attr.data-date]="data?.startDate | date"
              >
                <h4 class="mb-3">{{ data?.name }}</h4>
                <p>{{ data?.stageName }}</p>
              </li>
            </ul>
            <div class="text-center tableContainer" *ngIf="data?.length <= 0">
              No data available for selected state
            </div>
          </section>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card shadow-sm h-100" style="border: 2px solid gainsboro">
          <div class="card-body">
            <canvas
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [type]="'bar'"
              width="950"
              height="750"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-5">
      <i
        *ngIf="isLoading"
        class="fa fa-spinner fa-spin"
        style="font-size: 64px; color: #103a7f"
      ></i>
    </div>
  </div>

  <div class="row mt-3" *ngIf="analyse">
    <div class="row">
      <div class="col">
        <h3 class="font-weight-bold" style="color: #103a7f"></h3>
      </div>
      <div
        class="col d-flex justify-content-end align-self-center"
        *ngIf="isCpoc !== true"
      >
        <button
          class="p-2 rounded button-color text-white shadow border-0"
          (click)="createAnalyse()"
        >
          <img src="assets/plus.svg" class="me-2" height="18" alt="" />Add
          Ex-dignostic report
        </button>
      </div>
    </div>
    <section *ngIf="!isLoading" class="mt-3">
      <div class="row table-row row-head gx-0">
        <div class="col">Name</div>
        <div class="col">exHighlights</div>
        <div class="col">Information</div>
        <div class="col">Attachments</div>
        <div class="col" *ngIf="isCpoc !== true">Action</div>
      </div>
      <!-- <p>{{displayMsg}}</p> -->
      <div class="tableCointainer" *ngIf="details?.length > 0">
        <div
          class="row gx-0 table-row row-body px-0"
          *ngFor="let item of details"
        >
          <div class="col">{{ item?.executiveSummary }}</div>

          <div class="col">{{ item?.exHighlights }}</div>

          <div class="col">
            {{ item?.description }}
          </div>
          <div class="col boldColmn">
            <button
             
              style="padding: 0.5em"
              type="button"
              class="no-style-button"
              (click)="openInvoice(item?.id)"
            >
              <i
                [ngClass]="{
                  bi: true,
                  'bi-download': true,
                  'fs-6': true,
            
                }"
              >
              </i>
            </button>
          </div>


          <div class="col" *ngIf="isCpoc !== true">
            <button
              class="border-0 m-2"
              style="font-size: 20px"
              (click)="updateanalyse(item?.id)"
            >
              <i class="fa fa-pencil" style="color: #103a7f"></i>
            </button>
            <button
              class="border-0 m-2"
              style="font-size: 20px"
              (click)="deleteanalyse(item?.id)"
            >
              <i class="fa fa-trash" style="color: #103a7f"></i>
            </button>
            <button
              class="border-0 m-2"
              style="font-size: 20px"
              (click)="shareAnalyse(item?.id)"
            >
              <i
                class="fa fa-share-alt"
                style="color: #103a7f"
                aria-hidden="true"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="text-center tableContainer" *ngIf="details?.length <= 0">
        No data available for selected state
      </div>
    </section>
    <div class="text-center my-5">
      <i
        *ngIf="isLoading"
        class="fa fa-spinner fa-spin"
        style="font-size: 64px; color: #103a7f"
      ></i>
    </div>
  </div>

  <div class="row mt-3" *ngIf="coCreate">
    <section *ngIf="!isLoading">
      <div class="container vh-100">
        <div class="row d-flex">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <div
              class="card text-center"
              id="chat1"
              style="border-radius: 15px"
              *ngIf="isCpoc !== true"
            >
              <div
                class="card-header d-flex justify-content-between align-items-center p-3 text-white border-bottom-0"
                style="
                  border-top-left-radius: 15px;
                  border-top-right-radius: 15px;
                  background-color: #2980b9;
                "
              >
                <p class="mb-0 fw-bold">Add Your Suggestions</p>
              </div>
              <div class="card-body">
                <div
                  class="bg-light rounded rounded-pill shadow-sm search-bar flex-grow-2"
                >
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder=""
                      aria-describedby="button-addon1"
                      [(ngModel)]="msg"
                      class="form-control border-0 bg-light"
                      style="height: 30px"
                    />
                    <div class="input-group-append">
                      <button
                        id="button-addon1"
                        type="submit"
                        (click)="onCocreateData()"
                        class="btn btn-link rounded-circle button-color d-flex justify-content-center align-items-center"
                        style="width: 30px"
                      >
                        <i
                          class="fa fa-paper-plane text-white"
                          style="font-size: 13px"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-7 col-xl-8">
            <div class="" *ngIf="data?.length > 0">
              <div
                class="card mb-1"
                style="border-radius: 15px"
                *ngFor="let item of data"
              >
                <div class="card-body p-2">
                  <h3 class="mb-3 ms-3">
                    <strong>{{ item?.msg }}</strong>
                  </h3>
                  <p class="small mb-0 ms-3">
                    Created on {{ item.createdDate | date }}
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="text-center tableContainer" *ngIf="data?.length <= 0">
              No data available for selected state
            </div> -->
          </div>
          <div class="text-center tableContainer" *ngIf="data?.length <= 0">
            No data available for selected state
          </div>
        </div>
      </div>
    </section>
    <div class="text-center my-5">
      <i
        *ngIf="isLoading"
        class="fa fa-spinner fa-spin"
        style="font-size: 64px; color: #103a7f"
      ></i>
    </div>
  </div>

  <section *ngIf="share">
    <div class="container py-5 h-100" *ngIf="!isLoading">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6">
          <div class="row"  *ngIf="isCpoc !== true">
            <div class="col-md mb-3">
              <div class="card" style="border-radius: 15px">
                <div class="card-body text-center">
                  <div class="row">
                    <div class="form-check form-switch">
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckDefault"
                      >
                        <strong
                          >Do you want to share feedback form</strong
                        ></label
                      >
                      <input
                        class="form-check-input ms-3 custom-toggle"
                        type="checkbox"
                        id="flexSwitchCheckDefault"
                        [(ngModel)]="clientData.isSharedFeedback"
                        (change)="toggleFeedbackForm($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row"*ngIf="isCpoc !== true">
            <div class="col-md" >
              <div class="card" style="border-radius: 15px">
                <div class="card-body text-center">
                  <div class="row">
                    <div class="form-check form-switch">
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckDefault"
                      >
                        <strong>Do you want to share journey map</strong></label
                      >
                      <input
                        class="form-check-input ms-4 custom-toggle"
                        type="checkbox"
                        id="flexSwitchCheckDefault"
                        [(ngModel)]="clientData.isSharedJourneyMap"
                        (change)="toggleJourneyMap($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row"*ngIf="visibleToClient">
            <div class="col-md" >
              <div class="card" style="border-radius: 15px">
                <div class="card-body text-center">
                  <div class="row align-items-center justify-content-center">
                    <strong>
                      Journey map shared successfully! Do you want to go to the
                      journey map screen ?</strong
                    >
                    <button
                      type="button"
                      class="btn button-color text-light w-25 text-center mt-2"
                      routerLink="../roadmap"
                    >
                      yes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-6" *ngIf="visibleToClient2">
          <div class="card border-0" style="background-color: rgb(241, 238, 238)">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src="assets/default_avatar.png"
                  alt="avatar"
                  width="65"
                  height="65"
                />
                <div class="w-100">
                  <h5>Add a comment</h5>
                  <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
                    <div class="my-2">
                      <rating
                        class="fs-3"
                        [titles]="['Very bad', 'Poor', 'Ok', 'Good', 'Excellent']"
                        style="color: #103a7f"
                        formControlName="rate"
                        [max]="5"
                        [readonly]="false"
                      ></rating>
                    </div>
                    <div data-mdb-input-init class="form-outline">
                      <textarea
                        class="form-control"
                        id="textAreaExample"
                        rows="4"
                        formControlName="feedback"
                      ></textarea>
                      <label class="form-label" for="textAreaExample">What is your view?</label>
                      <div *ngIf="feedbackForm.get('feedback')?.invalid && feedbackForm.get('feedback')?.touched" class="text-danger">
                        Feedback is required.
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                      <button
                        type="submit"
                        data-mdb-button-init
                        data-mdb-ripple-init
                        class="btn button-color text-light"
                        [disabled]="btnDisplay"
                      >
                        Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                      </button>
                    </div>
                  </form>
                  <div *ngIf="feedbackMessageVisible" class="mt-3 alert alert-success">
                    {{ feedbackMessage }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="text-center my-5">
      <i
        *ngIf="isLoading"
        class="fa fa-spinner fa-spin"
        style="font-size: 64px; color: #103a7f"
      ></i>
    </div>
    <div  *ngIf="isCpoc == true">
    <div class="text-center my-5"*ngIf="!clientData.isSharedFeedback && !clientData.isSharedJourneyMap">
    <h3 class="fw-bold">Unfortunately, the consultant has not shared any information with us yet.</h3>
    </div>
  </div>
  </section>
</div>
