.blue-color {
  color: #103a7f;

}

.button-color {
  background-color: #103a7f;
}


.text-color {
  color: #069DE0;

}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input {
  outline: none !important;
  box-shadow: none !important;
}


input,
select {
  outline: none;
}

.bthnHover:hover {
  background-color: gray;
  border-radius: 50px;

}

.bthnHover {
  height: 25px;
  width: 25px;
  background-color: gainsboro;
  border-radius: 50px;
}

/* input:focus,select:focus {
  outline: #103a7f auto
} */

.button-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
}