.bthnHover:hover {
  background-color: gray;
  border-radius: 50px;

}

.bthnHover {
  height: 25px;
  width: 25px;
  background-color: gainsboro;
  border-radius: 50px;
}

/* table, th, td {
        border:1px solid black;
      } */

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background-color: #103a7f;
  color: white;
  padding: 15px;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}