.button-color{
    background-color: #103a7f;
}

table {
    border-spacing: 0;
  }
  table thead tr,
  table thead tr th{
      background: #103a7f;
      border: 1px ;
      background-clip: content-box;
     
  }
  
  table thead tr th{
      border: none;
      background-clip: content-box;
   
  }

  table tbody tr td {
    vertical-align: middle;
    pointer-events: stroke;
  }