
<div class="container">
    <div class="row">
  
            <div class="col-12 mt-4">
                <h2 class="" style="display: inline; color: #103a7f; ">Select stage & Employee experience phase</h2>
                <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-10 mx-auto mt-5">
                <div class="mt-4 mb-5 text-center"  *ngIf="stagesList[0]?.stageName=='default'">
                    <p>Survey stages are not available, simply click the 'Next' button.</p>
                </div>
                
                <div class="mt-4" *ngIf="stagesList[0]?.stageName!=='default'">
                    <label for="stageName">Select stage</label>
                    <select id="stageName" class="form-select bg-light w-100" (change)="onStageChange($event)">
                        <option value="" selected disabled>Select stage</option>
                        <option *ngFor="let stage of stagesList" [value]="stage?.id" [selected]="stagesList[0]?.stageName ==='default'">{{ stage?.stageName }}</option>
                    </select>
                    <!-- <div *ngIf="!selectedStage && showErrors" class="text-danger mt-2">Stage is required</div> -->
                </div>
                <div class="mt-4" *ngIf="stagesList[0]?.stageName!=='default'">
                    <label for="">Employee experience phase</label>
                    <input type="text" class="bg-light w-100 form-control" placeholder="Employee experience phase" [(ngModel)]="subphasename">
                    <!-- <div *ngIf="!subphasename && showErrors" class="text-danger mt-2">Employee experience phase name is required</div> -->
                </div>

               
                <div class="mt-5 text-center">
                    <button class="py-2 px-5 border-0 rounded text-white me-3" style="background-color: #069de0;" (click)="onClose()">Cancel</button>
                    <button  class="py-2 px-5 border-0 rounded button-color text-white"style="" (click)="next()">Next <i
                             class="fas fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            
    </div>
</div>