.gradient-custom {
  background: #2980b9;
  background: -webkit-linear-gradient(
    to right bottom,
    rgb(41, 128, 185) rgb(0, 189, 214)
  );
  background: linear-gradient(
    to right bottom,
    rgb(41, 128, 185) rgb(0, 189, 214)
  );
}

.iconStyle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 21px;
}

.iconStyle:hover {
  cursor: pointer;
}

.mainSection {
  background-color: #f4f5f7;
  overflow: scroll !important;
  height: 100% !important; 
  padding: 6%;
}

.card {
  border-radius: 0.5rem;
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  padding-bottom: 3rem;
  position: relative;
}

@media (width>=768px) {
  .imageSection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .profileSection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (width<768px) {
  .imageSection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .profileSection {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 20% !important;
  }
}
