.blue-color{
    color: #103a7f;
  }
  
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  
  .background-color{
    background-color: #103a7f;
    color: white;
  }
  
  .icon-sky-color{
    color: #069de0;
  }
  
  .card-container{
    width: 270px;
    height: 130px;
    border: 1px solid #103a7f;
  }
  #tasksection {
    margin-inline: 20px;
    background-color: #f6f6f6;
     padding-top: 1.5rem;
    padding: 1.5rem;
    /* height: 100vh; */
  }
  
  #tasksection2 {
    margin-inline: 20px;
     padding-top: 1.5rem;
    padding: 1.5rem;
    /* height: 100vh; */
  }
  
  .circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
  width: 115px;
  height: 115px;
  position: absolute;
  border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  }
  
  
  .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
  }
  
  .mask.full,
  .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
  }
  
  ::placeholder {
    position: absolute;
    margin: 0 !important;
    top: 14px;
    left: 15px;
    font-size: 13px;
    font-weight: 200;
   
    color: #ccc;
    text-align: left;
  }
  select::placeholder {
    position: absolute;
    margin: 0 !important;
    top: 14px;
    left: 15px;
    font-size: 13px;
    font-weight: 200;
   
    color: #ccc;
    text-align: left;
  }
  
  .meeting-tittle {
    position: relative;
    font-size: 15px;
    font-weight: 300;
   
    color: #1b1b1b;
    text-align: left;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: no-repeat;
    background-position: center;
    height: 25px;
    padding-left: 4px;
  }
  
  .timeline .timeline-date {
    width: 42px;
    height: 52px;
    display: inline-block;
    /* padding: 8px; */
    -webkit-clip-path: polygon(0 0,100% 0,100% 80%,50% 100%,0 80%);
    clip-path: polygon(0 0,100% 0,100% 80%,50% 100%,0 80%);
    z-index: 1
  }
    
  .col {
    line-height: 22.5px;
  
  }
  
  .table-row {
    background-color: #ffffff;
    /* border-radius: 10px; */
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    height: auto;
  
    font-weight: 400;
    font-size: 14px;
    border: solid .3px rgb(148, 148, 148);
  }
  .table-row:hover{
    border: 2px solid #103a7f;
  }
  .tableCointainer .table-row:hover{
    border: 2px solid #103a7f;
  }
  .row-head {
    height: 54px;
    font-weight: 500;
  
    font-size: 16px;
    background-color: #103a7f;
  }
  
  .row-body {
    font-weight: 400;
    height: auto;
  
    text-align: center;
  }
  
  .row-head .col {
    text-align: center;
  }
  
  .material {
    display: inline-block;
    text-align: center;
  }
  
  
  
  
  button {
    border: none;
  }
  
  
  
  
  .tableCointainer {
    height:50%;
    overflow-y: scroll !important;
  }
  
  
  .tableCointainer::-webkit-scrollbar {
    width: 0;
  }
  
  
  .boldColmn {
    font-weight: 400;
    position: relative;
    inset-inline: -1em;
  }
  
  .no-style-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  tbody:nth-child(2) {
    max-width: 4px;
  }
  
  .disableDownloadIcon {
    opacity: 0.4;
  }
  
  .disableDownloadButton:hover {
    cursor: not-allowed;
  }
  
  .dropdownToggleButton {
    height: 57px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .spinner-border {
    width: 3rem;
    height: 3rem;
    margin: 100px auto;
    display: block;
  }
  
  