.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .button-color {
    background-color: #103a7f;
  }
  
  .blue-color{
    color: #103a7f;
  }
  
  .bthnHover:hover {
    background-color: gray;
    border-radius: 50px;
  
  }
  
  .bthnHover {
    height: 25px;
    width: 25px;
    background-color: gainsboro;
    border-radius: 50px;
  }
  
  .fixed-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }