<div class="container my-2">
  <div class="row mt-2 px-2 mb-2">
    <div class="col-lg col-md col-sm-12">
        <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0; color: #103a7f; font-weight: bolder">
              Demographics
            </h3>
            <span class="blue-color font-weight-bold" style="font-weight: 700; max-width: 500px; text-wrap: wrap;">
                Project name : {{ displayClientData?.clientName }}</span>
            <span class="blue-color font-weight-bold ms-4" style="font-weight: 700">
                EXwise consultant : {{ displayClientData?.consultantName }}</span>
            <span class="blue-color font-weight-bold" (click)="editUser(displayClientData?.copcId)" style="font-weight: 700; cursor: pointer;">
                CPOC name : {{ displayClientData?.contactPerson }}</span>
        </div>
    </div>
</div>
  <div class="row">
    <div class="row justify-content-center text-danger">
      <div class="col-12 text-center">
        <p style="font-weight: 500;">Note: Demographic details are compiled through employee self-disclosure, which may
          cause
          variations if employees choose not to share their data.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row mt-2">
        <div class="row">
          <div id="chart">
            <apx-chart [series]="chartOptionsage?.series!" [chart]="chartOptionsage?.chart!"
              [dataLabels]="chartOptionsage?.dataLabels!" [plotOptions]="chartOptionsage?.plotOptions!"
              [xaxis]="chartOptionsage?.xaxis!" [yaxis]="chartOptionsage?.yaxis!" [stroke]="chartOptionsage?.stroke!"
              [fill]="chartOptionsage?.fill!" [title]="chartOptionsage?.title!" [tooltip]="chartOptionsage?.tooltip!"
              [legend]="chartOptionsage?.legend!" [colors]="chartOptionsage?.colors!"></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row mt-2">
        <div class="row">
          <div id="chart">
            <apx-chart [series]="chartOptionsTenure?.series!" [chart]="chartOptionsTenure?.chart!"
              [dataLabels]="chartOptionsTenure?.dataLabels!" [plotOptions]="chartOptionsTenure?.plotOptions!"
              [xaxis]="chartOptionsTenure?.xaxis!" [yaxis]="chartOptionsTenure?.yaxis!"
              [stroke]="chartOptionsTenure?.stroke!" [fill]="chartOptionsTenure?.fill!"
              [title]="chartOptionsTenure?.title!" [tooltip]="chartOptionsTenure?.tooltip!"
              [legend]="chartOptionsTenure?.legend!" [colors]="chartOptionsage?.colors!"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 100%; padding-bottom: 8%;">
    <div class="col-md-4 col-sm-12">
      <div class="row mt-4">
        <div id="chart">
          <apx-chart [series]="chartOptionsGender?.series!" [chart]="chartOptionsGender?.chart!"
            [title]="chartOptionsGender?.title!" [tooltip]="chartOptionsGender?.tooltip!" [stroke]="chartOptionsGender?.stroke"
            [legend]="chartOptionsGender?.legend!" [labels]="chartOptionsGender?.labels!" [plotOptions]="chartOptionsGender?.plotOptions!"
            [colors]="chartOptionsGender?.colors!"></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="row mt-4">
        <div id="chart">
          <apx-chart [series]="chartOptionsWorkFlexibility?.series!" [chart]="chartOptionsWorkFlexibility?.chart!"
            [title]="chartOptionsWorkFlexibility?.title!" [tooltip]="chartOptionsWorkFlexibility?.tooltip!" [stroke]="chartOptionsWorkFlexibility?.stroke"
            [legend]="chartOptionsWorkFlexibility?.legend!" [labels]="chartOptionsWorkFlexibility?.labels!" [plotOptions]="chartOptionsWorkFlexibility?.plotOptions!"
            [colors]="chartOptionsWorkFlexibility?.colors!"></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="row mt-4">
        <div id="chart">
          <apx-chart [series]="chartOptionsContractType?.series!" [chart]="chartOptionsContractType?.chart!"
            [title]="chartOptionsContractType?.title!" [tooltip]="chartOptionsContractType?.tooltip!" [stroke]="chartOptionsContractType?.stroke"
            [legend]="chartOptionsContractType?.legend!" [labels]="chartOptionsContractType?.labels!" [plotOptions]="chartOptionsContractType?.plotOptions!"
            [colors]="chartOptionsContractType?.colors!"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>