
<mat-toolbar class="bg-white">
  <img src="assets/images/navexwise.jpeg" alt="" class="h-75">
  <!-- <span class="example-spacer"></span> -->
  <div class="flex-grow-1" style="padding-inline: 2em;">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm search-bar flex-grow-1">
      <div class="input-group">
        <input #searchInput type="search" placeholder="" aria-describedby="button-addon1" class="form-control border-0 bg-light"
          style="height: 30px;"  (input)="searh($event)">
        <div class="input-group-append">
          <button id="button-addon1" type="submit"
            class="btn btn-link text-primary rounded-circle button-color d-flex justify-content-center align-items-center"
            style="width: 30px;">
            <i class="fa fa-search text-white" style="font-size: 13px;"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center" style="gap:1em">
    <!-- <i class="fa fa-bell-o" (click)="onreadNotification()" matBadge="{{ unreadNotificationsCount }}" matBadgeColor="primary" matBadgeHidden="{{ unreadNotificationsCount === 0 }}" style="font-size:26px;color: #323842FF;" [matMenuTriggerFor]="notificationsMenu"></i> -->
    <mat-menu #notificationsMenu="matMenu">
      <div class="col-md mb-4 mb-md-0">
        <h5 class="font-weight-bold mb-3 text-center button-color text-white">Notifications</h5>
        <div class="card mask-custom text-primary border-0" style="max-height: 250px;">
          <div class="card-body" >
            <ul class="list-unstyled mb-0"  style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
              <li *ngFor="let notification of notifications" class="p-2 border-bottom">
                <a class="d-flex justify-content-between link-light">
                  <div class="d-flex flex-row">
                    <!-- <img [src]="notification.image" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60"> -->
                    <div class="pt-1">
                      <p class="fw-bold mb-0" style="color: gray;">{{ notification.title }}</p>
                      <p class="small" style="color: rgb(174, 174, 174);">{{ notification.body }}</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small mb-1" style="font-size: xx-small;" style="color:#103a7f">{{ notification.time }}</p>
                    <span class="badge button-color text-white float-end" *ngIf="notification.isNotificationRead === 0">1</span>
                  </div>
                </a>
              </li>
            </ul>
            <div *ngIf="notifications.length === 0" class="text-center" style="color:#103a7f">No notifications available</div>
          </div>
        </div>
      </div>
    </mat-menu>
    
 
    <i class="fa fa-question" style="font-size:26px;color:  #323842FF;" routerLink="./faq"></i>
    <div [matMenuTriggerFor]="menu" aria-label="User Profile">
      <img src="assets\download-old.png" alt="Profile Picture" class="rounded-circle" height="40" width="40">
    </div>
  </div>
  <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
    <div class="popup-content">
      <button mat-menu-item routerLink="profile-admin">
        <mat-icon>
          account_box
          <!-- <img src="assets\download-old.png" alt="Profile Picture" class="profile-picture-large text-center rounded-circle"
        height="22" width="22"> -->
        </mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="OnLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

  <mat-sidenav-container autosize="true" >
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        <a mat-list-item (click)="expandNavBar()">
          <span class="entry">
        
            <mat-icon>menu</mat-icon>
            <span *ngIf="!isCollapsed"></span>
          </span>
        </a>
        <!-- <a mat-list-item routerLink="../superadmin"  routerLinkActive="active-link" [ngClass]="{'inactive': !isDashboardActive()}">
          <span class="entry">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="!isCollapsed">Brand Dashboard</span>
          </span>
        </a> -->
          <a mat-list-item routerLink="open" routerLinkActive="active-link">
          <span class="entry">
              <mat-icon>business</mat-icon>
            <span *ngIf="!isCollapsed">Company Dashboard</span>
          </span>
        </a>
       
        <a mat-list-item (click)="openPopup()">
          <span class="entry">
            
            <mat-icon>domain_add</mat-icon>
            <span *ngIf="!isCollapsed">New company</span>
          </span>
        </a>
        <a mat-list-item routerLink="./sup-survey" routerLinkActive="active-link">
          <span class="entry">
            <mat-icon>local_offer</mat-icon>
            <span *ngIf="!isCollapsed">Coupon</span>
          </span>
        </a>
              <!-- <a mat-list-item routerLink="onboard-employee" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>person_add</mat-icon>
                  <span *ngIf="!isCollapsed">Onboard Employee</span>
                </span>
              </a>
      -->
          <!-- <a mat-list-item routerLink="./events" routerLinkActive="active-link" >
            <span class="entry">
             <mat-icon>calendar_today</mat-icon>
             <span *ngIf="!isCollapsed">Active coupon</span>
            </span>
          </a> -->
              <a mat-list-item routerLink="voucher/dashboard" routerLinkActive="active-link">
          <span class="entry">
         
            <mat-icon>dashboard_customize</mat-icon>
            <span *ngIf="!isCollapsed">Voucher Dashboard</span>
          </span>
        </a>
              <a mat-list-item routerLink="voucher/brands" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>storefront</mat-icon>
                  <span *ngIf="!isCollapsed">Brands</span>
                </span>
              </a>
              <a mat-list-item routerLink="voucher/client-brands" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>view_list</mat-icon>
                  <span *ngIf="!isCollapsed">Client Brand List</span>
                </span>
              </a>
              <a mat-list-item routerLink="voucher/stock" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>inventory_2</mat-icon>
                  <span *ngIf="!isCollapsed">Voucher Stock</span>
                </span>
              </a>
              <a mat-list-item routerLink="voucher/locator" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>place</mat-icon>
                  <span *ngIf="!isCollapsed">Store Locator</span>
                </span>
              </a>
   
              <a mat-list-item
   routerLink="manage-admin"
   routerLinkActive="active-link">

  <span class="entry">
    <mat-icon>admin_panel_settings</mat-icon>
    <span *ngIf="!isCollapsed">Manage Admin</span>
  </span>

</a>

        <!-- <a mat-list-item routerLink="./recent" routerLinkActive="active-link">
          <span class="entry">
            <mat-icon>schedule</mat-icon>
            <span *ngIf="!isCollapsed">Recent</span>
          </span>
        </a> -->
      
  

          <!-- <a mat-list-item routerLink="./touchpoint" routerLinkActive="active-link">
            <span class="entry">
       
             <mat-icon>touch_app</mat-icon>
        
             <span *ngIf="!isCollapsed">Touchpoints</span>
            </span>
          </a>

          <a mat-list-item routerLink="./consultant" routerLinkActive="active-link" >
            <span class="entry">
              <i class="fas fa-user-cog mt-1 ps-1" style="font-size: 19px;"></i>
           
             <span *ngIf="!isCollapsed">EXwise consultant</span>
            </span>
          </a> -->
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
      <router-outlet></router-outlet>
      <footer class="bottom-tab-bar">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-auto">
              <a mat-list-item routerLink="./open" matTooltip="Company Dashboard" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>business</mat-icon>
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item (click)="openPopup()" matTooltip="New client">
                <span class="entry">
                  
                  <mat-icon title="create client">domain_add</mat-icon>
            
                </span>
              </a>
            </div>
            <!-- <div class="col-auto">x
              <a mat-list-item routerLink="./recent" matTooltip="Recent dashboard">
                <span class="entry">
                  <mat-icon title="schedule">schedule</mat-icon>
             
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item routerLink="open"matTooltip="open client" >
                <span class="entry">
                  <mat-icon>folder_open</mat-icon>
              
                </span>
              </a>
            </div> -->
            <div class="col-auto">
              <a mat-list-item routerLink="./sup-survey" matTooltip="Surveys" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>local_offer</mat-icon>
                
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item  routerLink="./sup-question" matTooltip="Question bank" routerLinkActive="active-link">
                <span class="entry">
            
                  <mat-icon>quiz</mat-icon>
            
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item routerLink="./events" matTooltip="Upcoming activities" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>event</mat-icon>
          
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item routerLink="./touchpoint" matTooltip="Touchpoints" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>track_changes</mat-icon>
          
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a mat-list-item routerLink="./consultant" matTooltip="Consultant" routerLinkActive="active-link">
                <span class="entry">
                  <mat-icon>support_agent</mat-icon>
                </span>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


 
