
<div class="container">
  <div class="nav nav-tabs mt-3 border-0" id="nav-tab" style="gap: 2em">
    <button
      class="w-15 col-3 nav-item nav-link"
      routerLink="./emp-touchpoint"
      routerLinkActive="activeTab"
    >
   Employee Touchpoint
    </button>
    <button
      class="w-15 col-3 nav-item nav-link"
      routerLink="./efficiency"
      routerLinkActive="activeTab"
    >
    Touchpoint Efficiency
    </button>
    <button
      class="w-15 col-3 nav-item nav-link"
      routerLink="./stakeholder"
      routerLinkActive="activeTab"
    >
    Touchpoint Stakeholder
    </button>
  </div>

  <router-outlet></router-outlet>
</div>