.blue-color{
    color: #103a7f;

  }

  .background-color{
    background-color: #103a7f;
    color: white;
  }

  .bg-sky-color{
    background-color: #103a7f;
    padding: 12px;

    font-size: 18px;
  }


  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


.button-container {
  position: absolute;
  bottom: 30px;
  right: 30px; 
}

.border-right-row{
  border-right: 1px solid #2980b9;
    height: 100%;
    /* max-height: 100vh; */
}




@media (max-width:1500px) {
  .vertical-divider {
      height: 100vh;
    }

}


/* .example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
} */

.example-list {
  border: solid 1px #ccc;
  max-height: 80vh;
  background: white;
  border-radius: 4px;
  overflow-y: auto;
  display: block;
  height: 100vh;
  overflow-x: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
