
  
.col {
    line-height: 22.5px;
  
  }
  .timeline .timeline-date {
    padding-inline: 0.5em;
    width: auto;
    height: 52px;
    display: inline-block;
    /* padding: 8px; */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    z-index: 1;
    >p:nth-of-type(2){
      font-size: 12px;
   }
  }

  .card{
    border: solid 1px #103a7f;
  }

  .activeTab {
    background: whitesmoke;
    border-radius: 5px;
    margin: -1px;
    border: solid 1px #103a7f;
  }


  .tableCointainer {
    height: 53vh;
    overflow-y: scroll !important;
    padding-bottom: 2px;
  }

  .tableCointainer::-webkit-scrollbar {
    width: 7px;
  }
  
  .tableCointainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .tableCointainer::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
  }
  
  .tableCointainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  

  .table-row {
    background-color: #ffffff;
    /* border-radius: 10px; */
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    height: auto;
  
    font-weight: 400;
    font-size: 14px;
    border: solid .3px rgb(148, 148, 148);
  }
  .table-row:hover{
    border: 2px solid #103a7f;
  }
  .tableCointainer .table-row:hover{
    border: 2px solid #103a7f;
  }
  .row-head {
    height: 54px;
    font-weight: 500;
  
    font-size: 16px;
    background-color: #103a7f;
  }
  
  .row-body {
    font-weight: 400;
    height: auto;
  
    text-align: center;
  }
  
  .row-head .col {
    text-align: center;
  }
  
  .material {
    display: inline-block;
    text-align: center;
  }
  
  
  
  
  button {
    border: none;
  }
  
  
  
  
  /* .tableCointainer {
    height: 60vh;
    overflow-y: scroll !important;
  } */
  
  
  /* .tableCointainer::-webkit-scrollbar {
    width: 0;
  }
   */
  .boldColmn {
    font-weight: 400;
    position: relative;
    inset-inline: -1em;
  }
  
  .no-style-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  .blue-color{
    color: #103a7f;
  }
  
  .background-color{
    background-color: #103a7f;
    color: white;
  }
  tbody:nth-child(2) {
    max-width: 4px;
  }
  
  .disableDownloadIcon {
    opacity: 0.4;
  }
  
  .disableDownloadButton:hover {
    cursor: not-allowed;
  }
  
  .dropdownToggleButton {
    height: 57px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  
.reminder-list {
  height: 215px;
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px;
  /* padding-bottom: 7%; */
}

.reminder-list::-webkit-scrollbar {
  width: 5px;
}

.reminder-list-listintainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.reminder-list::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.reminder-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


/* .reminder-list::-webkit-scrollbar {
  width: 0; 
}

.reminder-list {
  scrollbar-width: none;
}

.reminder-list::-webkit-scrollbar {
  display: none; 
} */


 ::ng-deep.highlightDate{
    background:#103a7f !important;
    border-radius: 100px ;
  }

  .unavailability {
    font-size: 16px !important;
    position: absolute;
    top:30vh;
    width: 100%;
}
