
    <div class="container my-2">
      <div class="row">
        <div class="col-lg col-md col-sm-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0;color: #103a7f;font-weight: bolder;  ">Coupoun dashboard</h3>
          
          </div>
          </div>
          </div>
          <!-- <div class="row row-cols-1 row-cols-sm-4  justify-content-center info-card">
  
            <div class="col">
              <div class="card" (click)="getSurveyByStatus('total')">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-self-center">
                      <h5 class="card-title fs-6 text-uppercase fw-bold " >Total </h5>
                      <h5 class="card-title fs-6 fw-bold">{{total}}</h5>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="total" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" 
                        [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" (click)="getSurveyByStatus('completed')">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-self-center">
                      <h5 class="card-title fs-6 text-uppercase fw-bold ">Completed </h5>
                      <h5 class="card-title fs-6 fw-bold">{{completed}}</h5>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="completed" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" 
                        [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
         </div>
            <div class="col">
              <div class="card" (click)="getSurveyByStatus('pending')">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-self-center">
                      <h5 class="card-title fs-6 text-uppercase fw-bold ">Pending </h5>
                      <h5 class="card-title fs-6 fw-bold">{{pending}}</h5>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="pending" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" 
                        [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" (click)="getSurveyByStatus('cancelled')">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-self-center">
                      <h5 class="card-title fs-6 text-uppercase fw-bold ">Cancelled </h5>
                      <h5 class="card-title fs-6 fw-bold">{{cancelled}}</h5>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="cancelled" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" 
                        [outerStrokeColor]="'#103a7f'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row ">
            <router-outlet></router-outlet>

        </div>
        </div>
     
  

  
