<section class="vh-100">
  <div class="container">
    <nav class="py-4">
      <!-- <img src="assets/images/exwiselogo.jpeg" alt="" width="50%" height="" /> -->
    </nav>
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <section style="background-color: white" *ngIf="state == 1">
          <div class="py-5">
            <div class="login-form">
              <div class="h5 text-uppercase text-center m-3" style="color: #103a7f;font-weight: 800;">
                Reset Password
              </div>
              <button class="border-0 bg-white ps-4" (click)="onBack()">Back</button>
              <div class="text-center mt-4 mx-4">
                <p class="card-text mb-4">
                  Enter your email address and we'll send you an email with
                  instructions to reset your password.
                </p>
                <div class="input-group mb-4 mt-2">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary border-top-0 border-start-0 border-end-0 border-bottom"
                      type="button" id="button-addon2" style="background-color: #fff">
                      <i style="color: gray" class="fa fa-envelope"></i>
                    </button>
                    <input [(ngModel)]="emailId" #emailInput="ngModel" required email
                      class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                      placeholder="Please enter your email ID/mobile No" aria-label="Recipient's username"
                      aria-describedby="button-addon2" />
                  </div>
                  <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger mt-1 ms-1">
                    Please enter a valid email/mobile No.
                  </div>
                </div>
                <button *ngIf="!isLoading" class="btn text-light w-100" (click)="generate()"
                  style="background-color: #103a7f">
                  Send OTP
                </button>
                <button *ngIf="isLoading" disabled class="btn btn-primary w-100">
                  Please Wait. . .
                </button>
                <div class="text-danger">
                  <span>{{ displayMsg }}</span>
                </div>
              </div>

              <!-- <div class="form-group">
                        <a routerLink="/login"><i class="fa fa-arrow-left mx-1"></i>Back</a>
                      </div> -->
            </div>
          </div>
        </section>

        <section class="my-5" style="background-color: white" *ngIf="state == 2">
          <div class="card py-5 my-5 mx-5 border-0">
            <div class="login-form">
              <h3 class="text-center mb-3" style="color: #103a7f; font-weight: 500; font-size: x-large">
                OTP Verification
              </h3>
              <button class="border-0 bg-white mb-4" (click)="onBackFromState2()">Back</button>
              <p class="card-text mb-2 mx-2">
                One Time Password(OTP) has been sent via Email to
                <b>{{ emailId }}</b> Enter the OTP below to verify it.
                <br />
              </p>
              <p class="text-muted mx-2"> <b>Note:</b> The OTP is valid for only 5 minutes.</p>
              <div class="pt-3 align-items-center d-flex text-center">
                <div style="margin-inline-start: 8rem">
                  <ngx-otp-input #otpInputRef [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                    (fill)="handleFillEvent($event)" class="text-center">
                  </ngx-otp-input>
                </div>
              </div>

              <div class="mt-4 {{ config.cssClass }}">
                <div class="d-flex flex-column align-items-center">
                  <!-- Flex container to align canvas and button inline -->
                  <div class="d-flex align-items-center mb-3">
                    <canvas id="captcahCanvas" width="325" height="80"></canvas>
                    <button class="btn btn-outline-secondary ms-3" (click)="reloadCaptcha()">&#x21bb;</button>
                  </div>
                  <div class="input-group mb-3 recaptcha-input">
                    <input type="text" [(ngModel)]="captch_input" name="captcha" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="Enter the CAPTCHA" (input)="checkCaptcha()" />
                  </div>
                </div>
              </div>
              <div style="background-color: #103a7f" class="mt-2">
                <button type="submit" (click)="goToReset()" *ngIf="!isLoading" class="btn w-100 text-light">
                  Confirm
                </button>
                <button *ngIf="isLoading" disabled class="btn btn-primary w-100">
                  Please Wait. . .
                </button>
              </div>
            </div>
            <div class="text-danger">
              <span>{{ displayMsg }}</span>
            </div>
          </div>
        </section>

        <section style="background-color: white" *ngIf="state == 3">
          <div class="card my-5 py-5 mx-5 border-0">
            <div class="login-form">
              <div class="h5 text-center text-uppercase" style="color: #103a7f; font-weight: 500">
                Register New Password
              </div>
              <p class="card-text text-center py-2">
                Protect your account with a strong and unique password.
              </p>
              <div class="card-body text-center">
                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                  <div class="input-group mb-4">
                    <label for="password" class="mb-2" style="font-weight: 600">
                      Enter Password
                    </label>
                    <div class="input-group">
                      <button class="btn btn-outline-secondary border-top-0 border-start-0 border-end-0 border-bottom"
                        type="button" id="togglePassword" style="background-color: #fff"
                        (click)="toggleFieldTextType('password')">
                        <i style="color: gray" class="fa" [ngClass]="{
                            'fa-eye-slash': !fieldTextType.password,
                            'fa-eye': fieldTextType.password
                          }"></i>
                      </button>
                      <input formControlName="password" [type]="fieldTextType.password ? 'text' : 'password'"
                        class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                        placeholder="Please enter your password" aria-label="Password"
                        aria-describedby="togglePassword" />
                    </div>
                    <!-- submitted &&  -->
                    <div *ngIf="resetForm.controls['password'].errors" class="text-danger text-start">
                      <div
                        *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors['required']"
                        class="mt-1">
                        Password is required.
                      </div>
                      <div *ngIf="resetForm.controls['password'].errors['minlength']" class="mt-1">
                        Minimum 6 characters required.
                      </div>
                      <div *ngIf="resetForm.controls['password'].errors['pattern']" class="mt-1">
                        Password must contain Alphabets, symbols, and numbers.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-4">
                    <label for="passwordConfirmation" class="mb-2" style="font-weight: 600">
                      Confirm Password
                    </label>
                    <div class="input-group">
                      <button class="btn btn-outline-secondary border-top-0 border-start-0 border-end-0 border-bottom"
                        type="button" id="togglePasswordConfirmation" style="background-color: #fff"
                        (click)="toggleFieldTextType('passwordConfirmation')">
                        <i style="color: gray" class="fa" [ngClass]="{
                            'fa-eye-slash': !fieldTextType.passwordConfirmation,
                            'fa-eye': fieldTextType.passwordConfirmation
                          }"></i>
                      </button>
                      <input formControlName="passwordConfirmation"
                        [type]="fieldTextType.passwordConfirmation ? 'text' : 'password'"
                        class="form-control border-top-0 border-start-0 border-end-0 border-bottom"
                        placeholder="Please confirm your password" aria-label="Password Confirmation"
                        aria-describedby="togglePasswordConfirmation" [class.is-invalid]="
                          resetForm.controls['passwordConfirmation'].invalid &&
                          (resetForm.controls['passwordConfirmation'].touched || submitted)
                        " />
                    </div>
                    <div class="text-danger"
                      *ngIf="resetForm.errors?.['passwordDoesNotMatch'] && (resetForm.controls['passwordConfirmation'].touched || resetForm.controls['passwordConfirmation'].dirty)">
                      Passwords do not match.
                    </div>
                  </div>

                  <div style="text-align: center">
                    <button type="submit" *ngIf="!isLoading" class="btn w-100 text-light"
                      style="background-color: #103a7f">
                      Reset Password
                    </button>
                    <button *ngIf="isLoading" disabled class="btn btn-primary w-100">
                      Please Wait...
                    </button>
                    <div class="text-danger">
                      <span>{{ displayMsg }}</span>
                    </div>
                  </div>
                </form>


              </div>
            </div>
          </div>

        </section>
      </div>
      <!-- <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 addDots">
            <img src="assets\images\login.png"
            class="img-fluid rounded-pill" alt="Phone image" style="border: solid 20px #103a7f;">
          </div> -->
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="position: relative">
        <img src="assets/images/login1.jpeg" class="img-fluid" alt="Phone image" />
        <div>
          <div class="dot-grid-container">
            <div *ngFor="let item of [].constructor(36)">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
