
.addDots{
  background-position:  bottom 0px right 0px;
  background-repeat: no-repeat;
  background-size: 148px 148px;
    background-image: url('../../../../assets/dots.png');
  }

  .dot-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 35%;
    height: 30%;
    position: absolute;
    left:16.5px;
    bottom: 5px;
    z-index: -100;
  
    > div {
      position: relative;
      > div {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #103a7f;
        position: absolute;
        bottom: 0;
      }
    }
  }


.captcha-actions input[type="text"] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 10px 0 0 10px;
	outline: none;
}
.captcha-actions input[type="button"] {
	outline: none;
	padding: 6px;
	border: none;
	background: #ccc;
	border-radius: 0 10px 10px 0;
}
.captcha-actions a {
	padding: 10px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #222;
}
.recaptcha-input .captcha-actions {
	width: 60%;
	padding-right: 12px;
}
.recaptcha-input .captcha-actions input {
	border-radius: 4px;
}
.recaptcha-input canvas {
	width: 33%;
}
.recaptcha-input .cpt-btn {
	width: 7%;
	font-size: 25px;
	text-align: center;
}
.toast-top-center {
	top: 12px;
	margin: 0 auto;
	left: 50%;
	margin-left: -150px;
}

.no-resize {
    resize: none;
}
